<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="UNIQUMkidsBDEntities" connectionString="metadata=res://*/UNIQUMkidsBD.csdl|res://*/UNIQUMkidsBD.ssdl|res://*/UNIQUMkidsBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A91JH3C;initial catalog=UNIQUMkids;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

</configuration>
